<div id="contact" class="contact-us nav-link">
  <div class="container">
    <div class="grid">
        <div class="box-other-site">
          <h2 class="title-box">Opsta Technical Blog</h2>
          <div id="about-opsta">
            <img src="/assets/imgs/opsta-logo.png" />
            <div>
              เราคือ open source consultant ซึ่งเน้นการเป็นทีมทาง technical ที่มีความเชี่ยวชาญทางด้าน cloud
              infrastructure ทั้ง public/private cloud รวมถึงเทคโนโลยี container
              โดยเฉพาะ OpenStack และ Docker/Kubernetes นอกจากนี้เรายังเป็นผู้เชี่ยวชาญทางด้าน
              DevOps automation อันได้แก่ การทำระบบแบบ High Availability
              และ Scalability, การทำ Continuous Integration และ Continuous
              Delivery, การทำ monitoring ตั้งแต่ physical layer ไปจนถึง
              application/business layer และการทำ performance load testing
              เพื่อตอบสนองการเติบโตทางธุรกิจของคุณได้อย่างรวดเร็ว มีประสิทธิภาพ
              และมีความน่าเชื่อถือในระดับสูงสุด
            </div>
          </div>
          <div class="clear"></div>
          <div class="social-network">
            <p>
              <a href="https://facebook.com/opstacloud" target="_blank" class="icon-social"><span class="fa fa-facebook-official"></span> opsta</a>
              <a href="https://twitter.com/opstacloud" target="_blank" class="icon-social"><span class="fa fa-twitter-square"></span> opsta</a>
              <a href="https://github.com/opstacloud" target="_blank" class="icon-social"><span class="fa fa-github-square"></span> opsta</a>
            </p>
            <p>
              <a href="http://line.me/ti/p/%40nuc8538i" target="_blank" class="icon-social"><span class="fa fa-comment"></span> line @opsta</a>
              <a href="mailto:contact@opsta.co.th" target="_blank" class="icon-social"><span class="fa fa-envelope-square"></span> contact@opsta.co.th</a>
            </p>
          </div>
        </div>
    </div>
  </div>
</div>
<footer class="footer-content">
  <div class="container">
    <p class="copyright">© 2017 Opsta (Thailand) Co.,Ltd. | Address: 297/2 Phaholyothin Soi 50 11th-15th Junction Klongthanon Saimai Bangkok 10220</p>
  </div>
</footer>
