<div id="contact" class="contact-us nav-link">
  <div class="container">
    <div class="grid">
        <div class="box-other-site">
          <h2 class="title-box">Opsta Technical Blog</h2>
          <div class="social-network">
            <p>
              <a href="https://facebook.com/opstacloud" target="_blank" class="icon-social"><span class="fa fa-facebook-official"></span> opsta</a>
              <a href="https://twitter.com/opstacloud" target="_blank" class="icon-social"><span class="fa fa-twitter-square"></span> opsta</a>
              <a href="https://github.com/opstacloud" target="_blank" class="icon-social"><span class="fa fa-github-square"></span> opsta</a>
            </p>
            <p>
              <a href="http://line.me/ti/p/%40nuc8538i" target="_blank" class="icon-social"><span class="fa fa-comment"></span> line @opsta</a>
              <a href="mailto:contact@opsta.co.th" target="_blank" class="icon-social"><span class="fa fa-envelope-square"></span> contact@opsta.co.th</a>
            </p>
          </div>
        </div>
    </div>
  </div>
</div>
<footer class="footer-content">
  <div class="container">
    <p class="copyright">© 2017 Opsta (Thailand) Co.,Ltd. | Address: 297/2 Phaholyothin Soi 50 11th-15th Junction Klongthanon Saimai Bangkok 10220</p>
  </div>
</footer>
